.sarch-field{

}

.search-button{
  background: none;
  border: none;
  cursor: pointer;
}
.search-input{
  border: 1px solid black;
  border-radius: 5px;
}

.example-card {
  max-width: 300px;
  img{
    max-width: 300px;
  }
}


// .example-header-image {
//   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//   background-size: cover;
// }
